.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.work-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    p {
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        bottom: 0px;
        background-color: rgba(47, 48, 58, 0.8);
        color: #ffffff;
        padding: 27px;
        /* padding-left: 83px; */
        /* padding-right: 82px; */
        width: 370px;
        height: 70px;
    }

    li p{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}