.header-logo {
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    text-decoration: none;
    &-color{
        color: #2196F3;
    }
  }

  .header-link{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
